.container{
    display: flex;
    flex-direction: row;
}


.div1{
    height: 200px;
    width: 200px;
    background-color: skyblue;
    margin: 10px;
}
.div2{
    height: 200px;
    width: 200px;
    background-color: skyblue;
    border: 20px solid rgb(17, 82, 82);
    margin: 10px;
}
.div3{
    height: 200px;
    width: 200px;
    background-color: skyblue;
    border: 20px solid rgb(17, 82, 82);
    padding: 20px;
}
.div4{
    height: 200px;
    width: 200px;
    background-color: skyblue;
    border: 20px solid rgb(17, 82, 82);
    padding: 20px;
    margin: 20px;
}
