*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.table{
    border: none;
    border-collapse: collapse;
    text-align: center;
    
}
tr,th,td {
    border:none;
    padding: 10px;
}
#rowhead{
    background-color:  #239B56;
    color:#fff
}
th{
    background-color: #58D68D;
    color: #fff;
}
tbody tr:nth-child(even){
    background-color:#F0F3F4 ;
}
#err{
    background-color:#DE3163;
    color: #fff;
}