div{
    border: 2px solid gray;
    padding: 10px;
}
h2{
    text-align: center;
    text-transform: uppercase;
    color: navy;
}
p{
    text-indent: 45px;
    text-align: left;
    letter-spacing: 2px;

}